
*{
    margin: 0;
    height: 0;
}
html, body{
    height: 90vh;
    width: 90vw;
}
body{
   background:url('../img/paper-ge676c3a1d_1280.jpg');
}
 div{
       
    height: 100vh;
    display: flex;
    justify-content: center;align-content: center;

    background-attachment: fixed;
    
}
#telefone{
    top: 50%;
    left: 50%;
    height: 627px;
    width: 311px;
    background-image: url('../img/frame-iphone.png');
    background-repeat: no-repeat;
}
iframe#tela{
     position: relative; 
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}
section#icones img{
    width: 50px;
    height:50px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #0000007b;
}
section#icones{
    text-align: right;
}

